@import 'tailwindcss';

@theme {
    --font-cloud: 'Cloud';
    --font-jua: 'Jua';
    --color-blue: #93e2ff;
    --color-light-green: #9ddba5;
    --color-green: #7cc47a;
    --color-brown: #ad855b;
    --color-dark-blue: #3f64dc;
    --color-light-blue: #6284F2;
    --color-purple: #A2B1FF;
    --color-pink: #E8BCB7;
    --color-yellow: #FFD666;
    --color-orange: #FFA769;
    --color-light-brown: #7B6549;
    --color-pink: #FF87C7;
    
}
@font-face {
    font-family: 'Cloud';
    src: url('$lib/fonts/Cloudy.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    @apply bg-blue
}